body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.base-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.base-h1 {
  margin: 1rem 1.6rem;
  margin-top: 3rem;
}